.task-card {
    background-color: #475B63;
    color: white;
    border-radius: 10px;
    padding: 16px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.task-card:hover {
    transform: scale(1.02);
}

.description {
    font-size: 16px;
    margin-bottom: 8px;
}

.task-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.priority {
    margin-bottom: 8px;
}

.star {
    font-size: 20px;
    color: lightgray;
}

.star.filled {
    color: gold;
}

.users {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: -20px;
    position: relative;
    border: 2px solid #475B63;
}

.user-avatar:last-child {
    margin-left: 0;
}

