.task-card {
    background-color: #475B63; /* Color de fondo */
    color: white; /* Color del texto */
    border-radius: 10px; /* Bordes redondeados */
    padding: 16px; /* Espacio interno */
    margin: 10px; /* Espacio externo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: transform 0.2s; /* Efecto de transición */
}

.task-card:hover {
    transform: scale(1.02); /* Aumenta ligeramente el tamaño al pasar el ratón */
}

.description {
    font-size: 16px; /* Tamaño del texto de la descripción */
    margin-bottom: 8px; /* Espacio debajo de la descripción */
}

.task-details {
    display: flex; /* Usar flexbox para alinear */
    justify-content: space-between; /* Espacio entre elementos */
    align-items: center; /* Centrar verticalmente */
}

.priority {
    margin-bottom: 8px; /* Espacio debajo de las estrellas */
}

.star {
    font-size: 20px; /* Tamaño de las estrellas */
    color: lightgray; /* Color por defecto de las estrellas */
}

.star.filled {
    color: gold; /* Color de las estrellas llenas */
}

.users {
    display: flex; /* Alinear los avatares en fila */
}

.user-avatar {
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    margin-left: 5px; 
    border: 2px solid #475B63; 
}




#cartel-rojo {
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    z-index: 1000; 
}

#fondo-gris {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.144); 
    z-index: 999; 
}