.Navbar-Container {
    display: flex;
    justify-content: space-between;
  }
  
  .Logo_Navbar {
    max-width: 40%;
    height: auto;
    width: 172px; 
  }


  .User_Navbar{
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .User_Navbar p{
    font-size: 22px;
    margin: 10px;
    color: white;
  }

  
  .IconUser_Navbar{
    max-width: 100%;
    height: auto;
    width: 41px; 
  }